/* Allgemeine Stile */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

/* Oberer Bereich */
.questionText.code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50%;
}

.questionText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    text-align: center;
    padding: 0;
    background-color: transparent;
}

/* Überschrift für Frage */
.questionText.code h1 {
    flex: 1;
    text-align: left;
}

.questionText h1 {
    text-align: center;
}

#codeDisplay {
    flex: 2;
    font-family: monospace;
    font-size: 1.2rem;
    background-color: #444444;
    color: #fff;
    padding: 20px;
    margin: 0 30px;
    border-radius: 5px;
    white-space: pre-wrap;
    text-align: left;
    overflow: auto;
    height: auto;
}

/* Unterer Bereich */
.bottom-section {
    display: flex;
    height: 50%;
    /* Gleiche Höhe für den unteren Bereich */
    box-sizing: border-box;
}

.left-box,
.right-box {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box {
    flex: 4;
    background-color: #e8f5e9;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.right-box {
    flex: 1;
    background-color: #d4edda;
}

/* Fortschrittsbalken */
.progress-bar {
    width: 30px;
    height: 80%;
    background-color: #ccc;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.progress-bar-inner {
    width: 100%;
    height: 100%;
    background-color: #76c7c0;
    position: absolute;
    bottom: 0;
    transition: height 1s linear;
}

.timer {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Diagrammcontainer */
.chart-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0;
}

/* Balken im Diagramm */
.bar {
    position: relative;
    width: calc((100% - 14%) / 15);
    background-color: lightblue;
    border-radius: 5px;
    transition: height 0.3s, order 0.3s;
    text-align: center;
}

.bar.gold {
    background-color: gold;
}

.bar.silver {
    background-color: silver;
}

.bar.bronze {
    background-color: #cd7f32;
}

.bar span {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}