/* Allgemeine Stile */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Oberer Bereich */
.questionText.code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50%;
}

.questionText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    text-align: center;
    padding: 0;
    background-color: transparent;
}

/* Überschrift für Frage */
.questionText.code h1 {
    flex: 1;
    text-align: left;
}

.questionText h1 {
    text-align: center;
}

#codeDisplay {
    flex: 2;
    /* Vergrößert den Anteil des Code-Bereichs */
    font-family: monospace;
    font-size: 1.2rem;
    /* Größere Schriftgröße */
    background-color: #444444;
    /* Beibehaltung des dunklen Hintergrunds */
    color: #fff;
    padding: 20px;
    /* Mehr Abstand innerhalb des Code-Bereichs */
    margin: 0 30px;
    /* Mehr Platz zwischen Code-Bereich und anderen Elementen */
    border-radius: 5px;
    white-space: pre-wrap;
    /* Beibehaltung der Zeilenumbrüche */
    text-align: left;
    /* Text links ausrichten */
    overflow: auto;
    /* Falls der Code zu groß wird, wird ein Scrollbalken angezeigt */
    height: auto;
    /* Anpassbare Höhe basierend auf dem Inhalt */
}


/* Unterer Bereich */
.bottom-section {
    display: flex;
    height: 50%;
}

.left-box {
    flex: 4;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box {
    flex: 1;
    background-color: #ffebee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fortschrittsbalken */
.progress-bar {
    width: 30px;
    height: 80%;
    background-color: #ccc;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.progress-bar-inner {
    width: 100%;
    height: 100%;
    background-color: #76c7c0;
    position: absolute;
    bottom: 0;
    transition: height 1s linear;
}

.timer {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}